.button {
  width: 100%;
  border: none;
  padding: 1rem;

  background-image: linear-gradient(to right, hsl(234, 29%, 20%), hsl(234, 29%, 20%));
  color: var(--color-white);
  border-radius: 0.5rem;
  transition: all .3s;
  @media only screen and (max-width: 950px) {
   font-size: 1rem; 
  }
  &:hover{
      cursor: pointer;
      background-image: linear-gradient(to right, hsl(346, 100%, 66%), hsl(13, 100%, 67%));
      box-shadow: 0 .4rem 1.2rem var(--color-primary);
  }
}
